body{
    /* background-image: rel(OIP.jpg); */
    background-color: rgb(216, 162, 14);
    font-family: roboto,sans-serif;
}
.signup-box{
 width: 360px;
 height: 950px;
 margin: auto ;
 background-color: rgb(36, 147, 244);
 background: radius 3px; 


}

.login-box{
    width: 360PX;
    height: 270PX;
    margin: auto ;
    background-color: rgb(71, 125, 224);
    border-radius:3px ;
}
h1{
    text-align: center;
    padding-top:15px ;

}
form{
 width: 300px;
 margin-left: 20px;


}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;

}

form input{

width: 100%;
padding: 7px;
border: none;
border: 1px solid gray;
border-radius: 6px;
outline: none;



}
input[type="button"]{
    text-align: center;
    width: 280px;
    hight: 35px;
    margin:20px;
    margin-top:20px;
    border-color:solid aqua;
    background-color:rgb(11, 244, 26)
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;

}
.part-2{
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    margin-top: -10px;

}
.part-2 a{
    color: #074ab5da ;
}